@font-face{
    font-family: "mononoki";
    src: url("../font/mononoki/mononoki-Regular.eot");
    src: url("../font/mononoki/mononoki-Regular.woff") format("woff"),
    url("../font/mononoki/mononoki-Regular.ttf") format("truetype"),
    url("../font/mononoki/mononoki-Bold.woff2") format("woff2");
    font-style: normal;
}
body, html, p, h1, h2, h3 {
    margin: 0;
    padding: 0;
}
em {
    font-style: normal;
}
body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
    body > section#wall {
        flex-basis: 1200px;
        display: flex;
        margin:  0 auto;
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px
    }
    body > section#wall > div.top{
        color: #880e4f;
        display: flex;
        flex-direction: column;
        padding: 0 18px;
    }
            body > section#wall > div.top > div > h1.namespace {
                font-size: 35px;
                display: inline-block;
        }
        body > section#wall > div.top > div > span {
            font-size: 30px;
            margin-right: 15px;
        }
    body > section#wall > section.method {
        display: flex;
        flex-direction: column;
    }   
        body > section#wall > section.method > div.method,
        body > section#wall > section.property > div.property {
            font-size: 14px;
            margin-bottom: 15px;
            margin-top: 28px;
            display: flex;
            flex-direction: row;
            /* background: #d4d4d4; */
            color: #0bf;
            /* transform: skew(-25deg); */
            border-radius: 10px;
            align-items: center;
            padding: 2px 0;
        }
            body > section#wall > section.method > div.method > span,
            body > section#wall > section.property > div.property > span {
                font-size: 25px;
                display: inline-block;
                /* transform: skew(25deg); */
                margin-left: -5px;
            }
            body > section#wall > section.method > div.method > h2,
            body > section#wall > section.property > div.property > h2 {
                /* transform: skew(25deg); */
            }
        body > section#wall > section > div.title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            /* margin-bottom: 5px; */
            cursor: pointer;
            color: #24292e;
            /* border-radius: 8px; */
            font-size: 17px;
            align-items: center;
            padding: 2px 0;
            /* border-top: 1px solid #000; */
            /* background: rgb(175, 175, 175) */
        }
        body > section#wall > section > div.title ~ div.title {
            border-top: 1px solid #dcdcdc;
        }
        body > section#wall > section > div.active {
            background: #efecec;
            transition: 0.2s all linear;
        }
        body > section#wall > section > div.title:hover {
            /* background: #e2e7cb; */
            background: #efecec;
            /* background: linear-gradient(#d4d4d4, #fff); */
            transition: 0.2s all linear;
            /* transform: scale(1.01); */
        }
            body > section#wall > section.method > div.title > div.left {
                display: flex;
                flex-direction: row;
                flex-basis: 0;
                flex-grow: 2;
            }
                body > section#wall > section > div.title > div.left > span.icon-right-dir {
                    display: inline-block;
                    transform: rotate(0deg);
                    transition: 0.25s transform linear;
                    margin-left: -6px;
                }
                body > section#wall > section > div.title > div.left > span.active {
                    transform: rotate(90deg);
                    transition: 0.25s transform linear;
                }
                body > section#wall > section.method > div.title > div.left > span.static {
                    margin-right: 4px;
                    background: #7760e2;
                    color: #d3cbf6;
                    padding: 0px 7px;
                    border-radius: 15px;
                    line-height: 21px;
                }
                body > section#wall > section > div.title > div.left > span.name {
                    font-weight: bold;
                    white-space: nowrap;
                }
                    body > section#wall > section.method > div.title > div.left > span.name > em{
                        color: #9a9a9a;
                    }
                body > section#wall > section.method > div.title > div.left > p.args {
                    margin-left: 10px;
                    white-space: nowrap;
                }
                    body > section#wall > section.method > div.title > div.left > p.args > span.open-p {
                        
                    }
                    body > section#wall > section.method > div.title > div.left > p.args > span.arg-name {
                        /* color: #b36d00; */
                        color: #3c00b3;
                        position: relative;
                        z-index: 10;
                    }
                    body > section#wall > section.method > div.title > div.left > p.args > span.opt{
                        padding-right: 15px;
                    }
                        body > section#wall > section.method > div.title > div.left > p.args >span> span.opt-chip {
                            /* color: #2a017b; */
                            /* background: hsl(264, 44%, 83%); */
                            color: #b1842f;
                            background: hsl(37, 75%, 78%);
                            position: absolute;
                            top: 0px;
                            right: 0px;
                            padding: 1px 5px;
                            font-size: 9px;
                            border-radius: 15px
                        }
                    body > section#wall > section.method > div.title > div.left > p.args > span.type{
                        /* color: #769c78; */
                        color: #43a047;
                        font-style: italic;
                        text-transform: capitalize;
                        margin-right: -3px;
                    }
                    body > section#wall > section.method > div.title > div.left > p.args > span.close-p {
                        margin-left: 6px;
                    }
                body > section#wall > section.method > div.title > div.middle {
                    flex-grow: 1; 
                    display: flex;
                    flex-basis: 0;
                    margin: 0 10px;
                    flex-direction: row;
                    align-items: center;
                }
                    body > section#wall > section.method > div.title > div.middle > img {
                        width: 20px;
                        margin-right: 5px;
                        height: inherit;
                    }
                    body > section#wall > section.method > div.title > div.middle > div.skew{
                        font-size: 17px;
                        font-weight: bold;
                        color: #0bf;
                        background: #d4d4d4;
                        border-radius: 5px;
                        transform: skew(-25deg);
                        padding: 0 9px;
                        margin-right: 10px;
                        border: 1px solid #9dc7d6;
                        line-height: 20px;
                    }
                    body > section#wall > section.method > div.title > div.middle > div.skew > span.icon-return{
                        display: inline-block;
                        transform: skew(25deg);
                    }
                body > section#wall > section > div.title > div.left > span.active {
                    flex-basis: 0;
                    flex-shrink: 0;
                    font-size: 14px;
                    white-space: nowrap;
                    margin-right: 5px;
                }
        body > section#wall > section > div.content {
            display: flex;
            padding: 0 20px;
            flex-direction: column;
            overflow: hidden;
            color: #24292e;
            margin-bottom: 5px;
            border-bottom: none;
        }


        body > section#wall > section > div.content:not(section.method:first-child) {
            border-bottom: 1px solid rgb(66, 66, 66);
        }




        body > section#wall > section > div.open {
            max-height: 1000px;
            transition-property: max-height;
            transition-duration: 0.25s;
            transition-timing-function: linear;
        }
        body > section#wall > section > div.close {
            max-height: 0px;
            transition-property: max-height;
            transition-duration: 0.25s;
            transition-timing-function: linear;
        }
            body > section#wall > section > div.content > div + div {
                margin-top: 5px;
            }
            body > section#wall > section > div.content > *:first-child {
                margin-top: 10px;
            }
            body > section#wall > section.method > div.content > div.desc {
                margin: 10px 0;
            }
                body > section#wall > section.method > div.content > div.exemple > pre {
                    font-family: 'mononoki';
                    font-size: 85%;
                    line-height: 1.45;
                    overflow: auto;
                    padding: 16px;
                    border: none;
                    margin: 0;
                    border-radius: 3px;
                    background: #f6f8fa;
                    font-family: 'mononoki';
                    /* border: 1px solid #cae7f5; */
                    margin: 10px 0;
                }
                    body > section#wall > section.method > div.content > div.exemple > pre {
                        
                    }
                body > section#wall > section.method > div.content > div.throw{
                    display: flex;
                    flex-direction: row;
                    align-items: baseline;
                }
                body > section#wall > section.method > div.content > div.throw > p.title{
                    display: inline-block;
                }
                body > section#wall > section.method > div.content > div.throw > ul {
                    padding-left: 10px;
                    display: inline-block;
                    list-style: none;
                    font-size: 12px;
                    margin: 0;
                }
                body > section#wall > section.method > div.content > div.throw > ul > li {
                    display: inline-block;
                }
                body > section#wall > section.method > div.content > div.throw > ul > li + li {
                    margin-left: 20px; 
                }
            body > section#wall > section.method > div.content > div.author {
                font-size: 14px;
                align-self: flex-end;
            }
            body > section#wall > section > div.content > *:last-child {
                margin-bottom: 10px;
            }

