.jsdoc {
    display: flex;
    flex-direction: column;
}

.jsdoc-header {
    height: 75px;
    background: rgba(20, 20, 20, 0.25);
    display: flex;
    transition: 0.1s linear all;
}
    .jsdoc-header:hover {
        background: rgba(20, 20, 20, 0.35);
        cursor: pointer;
    }
    .jsdoc-header:hover > .actions-area span:first-child {
        background: var(--hover-text-color);
        color: #FFF;
        cursor: pointer;
    }
    .jsdoc-header > .actions-area {
        padding: 0 10px;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .jsdoc-header > .actions-area span {
            width: 30px;
            height: 30px;
            background: #1e272c6e;
            color: #c7d2da;
            border-radius: 1px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
        }
        .jsdoc-header > .actions-area span:hover {
            background: var(--hover-text-color);
            color: #FFF;
            cursor: pointer;
        }

        .jsdoc-header > .actions-area span + span {
            margin-left: 10px;
        }

    .jsdoc-header > .description-area {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        user-select: none;
        padding-left: 10px;
        position: relative;
    }
        .jsdoc-header > .description-area > .version {
            position: absolute;
            right: 5px;
            bottom: 2px;
            font-size: 14px;
            color: #78909C;
        }
        .jsdoc-header > .description-area > .tags {
            margin-bottom: 2.5px;
        }
        .jsdoc-header > .description-area > .tags span {
            font-size: 12px;
            padding: 1px 4px;
            border-radius: 4px;
        }
        .jsdoc-header > .description-area > .tags span + span {
            margin-left: 5px;
        }
        .jsdoc-header > .description-area > p {
            font-size: 18px;
            /* font-size: calc(0.9vw + 0.45vmin); */
            color: #B0BEC5;
            font-family: "mononoki";
        }

.jsdoc-container {
    display: flex;
    flex-direction: column;
    height: 0;
    transition: height 0.35s ease;
}
.jsdoc-container.open {
    height: 300px;
}
