* {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

pre, code {
    margin: 0;
    font-family: "mononoki";
}
pre {
    display: flex;
    flex-direction: column;
}
code {
    padding: 10px;
    border-radius: 4px;
}

.jsdoc {
    display: flex;
    flex-direction: column;
}

.jsdoc-header {
    height: 75px;
    background: rgba(20, 20, 20, 0.25);
    display: flex;
    transition: 0.1s linear all;
}
    .jsdoc-header:hover {
        background: rgba(20, 20, 20, 0.35);
        cursor: pointer;
    }
    .jsdoc-header:hover > .actions-area span:first-child {
        background: var(--hover-text-color);
        color: #FFF;
        cursor: pointer;
    }
    .jsdoc-header > .actions-area {
        padding: 0 10px;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .jsdoc-header > .actions-area span {
            width: 30px;
            height: 30px;
            background: #1e272c6e;
            color: #c7d2da;
            border-radius: 1px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
        }
        .jsdoc-header > .actions-area span:hover {
            background: var(--hover-text-color);
            color: #FFF;
            cursor: pointer;
        }

        .jsdoc-header > .actions-area span + span {
            margin-left: 10px;
        }

    .jsdoc-header > .description-area {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        user-select: none;
        padding-left: 10px;
        position: relative;
    }
        .jsdoc-header > .description-area > .version {
            position: absolute;
            right: 5px;
            bottom: 2px;
            font-size: 14px;
            color: #78909C;
        }
        .jsdoc-header > .description-area > .tags {
            margin-bottom: 2.5px;
        }
        .jsdoc-header > .description-area > .tags span {
            font-size: 12px;
            padding: 1px 4px;
            border-radius: 4px;
        }
        .jsdoc-header > .description-area > .tags span + span {
            margin-left: 5px;
        }
        .jsdoc-header > .description-area > p {
            font-size: 18px;
            /* font-size: calc(0.9vw + 0.45vmin); */
            color: #B0BEC5;
            font-family: "mononoki";
        }

.jsdoc-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.4s ease;
}
.jsdoc-container.open {
    max-height: 500px;
}
.jsdoc-inner-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
}
    .jsdoc-inner-container > p {
        color: #ECEFF1;
    }
    .jsdoc-inner-container > .default-values {
        display: flex;
    }
    .jsdoc-inner-container > .default-values .arg {
        background: #CFD8DC;
        display: flex;
        margin: 10px 0;
    }
    .jsdoc-inner-container > .default-values .arg + .arg {
        margin-left: 10px;
    }
        .jsdoc-inner-container > .default-values .arg > p {
            padding: 3px 5px;
            font-size: 14px;
        }
        .jsdoc-inner-container > .default-values .arg > p:first-child {
            background: #263238;
        }
        .jsdoc-inner-container > .default-values .arg > p + p {
            margin-left: 5px;
        }


table {
    margin-bottom: 15px;
    overflow: hidden;
    color: var(--primary-text-color);
    border-radius: 2px;
    box-shadow: 1px 1px 10px rgba(20, 20, 20, 0.25);
}
    table tbody tr:nth-child(even) {
        background: #B3E5FC;
    }
    table tbody tr:nth-child(odd) {
        background: #B2EBF2;
    }

    table thead {
        background: #01579B;
        color: #FFF;
    }
    table tr th, table tr td {
        border: 2px solid #01579B;
        padding: 6px 13px;
    }
    table tr th {
        font-weight: bold;
    }
    table tr td {
        font-size: 14px;
        font-family: "mononoki";
        color: #333;
    }
