<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link
            href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="css/fontello-embedded.css" />
        <link rel="stylesheet" href="css/styles.css" />
        <title>Prototype</title>
    </head>
    <body>
        <div id="left" class="column">
            <div class="top-left">
                <h1 class="project__namespace">
                    [[=z.nameSpace]]
                </h1>
                <h2 class="project__classname">[[=z.className]]</h2>
            </div>
            <div class="bottom">
                <a class="method__link"
                    ><span class="icon-cube-9"></span>Method</a
                >
                <a class="property__link"
                    ><span class="icon-cube-10"></span>Property</a
                >
            </div>
        </div>
        <div id="right" class="column">
            <div class="bottom">
