<div class="title active">
    <div class="left">
        <span class="icon-right-dir"></span>
        [[ if(z.isStatic) { ]]
            <span class="static" title="Stactic method">S</span>
        [[ } ]]
        <span class="name">[[=z.name]]</span>
        <p class="args">
            <span class="open-p">(</span>
            [[ for ( const [i, [arg, type, opt] ] of z.params.entries()) { ]]
                <span class="arg-name [[=opt ? 'opt' : '']]" title="Default value">[[=arg]]
                    [[ if (opt){ ]]
                        <span class="opt-chip" title="Optional">?</span>
                    [[ } ]]
                </span>
                <span class="type">[[=type]]</span>
                [[if(i < z.params.length-1) { ]],[[ } ]]
            [[ } ]]
            <span class="close-p">)</span>
        </p>
    </div>
    [[ if (typeof z.typeReturn !== "undefined") { ]]
        <div class="middle">
            <span class="icon-return" title="returned type"></span>
            <span>[[=z.typeReturn]]</span>
        </div>
    [[ } ]]
    <span class="version">version : [[=z.version]]</span>
</div>
[[ if (z.content) { ]]
    <div class="content close">
        [[ if (z.content.desc) { ]]
            <p class="desc">[[=z.content.desc]]</p>
        [[}]]
        [[ if (Object.prototype.hasOwnProperty.call(z.content, "defaultVals")) { ]]
            <div class="default-arg-container">
                [[ for(const { name, type, value} of z.content.defaultVals) { ]]
                    <div class="item">
                        <span class="name">[[=name]]</span>
                        <span class="[[=type]]">
                            [[=type === "string" ? '"' : ""]][[-value]][[=type === "string" ? '"' : ""]]
                        </span>
                    </div>
                [[ } ]]
            </div>
        [[ } ]]
        [[ if (z.content.argsDef) { 
            for (const [objName, args] of z.content.argsDef) { ]]
                <p class="arg-definition">Object arg description <em>[[=objName]]</em> :</p>
                <table class="arg-desc">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>default Value</th>
                            <th>description</th>
                        </tr>
                    </thead>
                    <tbody>
                        [[ for (const arg of args) { ]]
                            <tr>
                                <td>[[=arg.name]]</td>
                                <td>[[=arg.value]]</td>
                                <td>[[=arg.default === null ? "" : arg.default]]</td>
                                <td>[[=arg.desc]]</td>
                            </tr>
                        [[ } ]]
                    </tbody>
                </table>
            [[ }
        } ]]
        [[ if (z.content.example) { ]]
            <p class="example">Example :</p>
            <hr>
            <pre class="prettyprint lang-js">[[=z.content.example]]</pre>
        [[}]]
        [[ if (z.content.throws) { ]]
            <div class="throw">
                <p>Throw :</p>
                <ul>
                    [[ for (err of z.content.throws) {]] 
                        <li>[[=err]]</li>
                    [[}]]
                </ul>
            </div>
        [[ }]]
    </div>
[[ } ]]