            <div class="property">
                <div class="title">
                    <h2>
                        <span class="icon-right-dir"></span>
                        <span class="required"> 
                        [[ if (z.required) { ]]
                            !
                        [[ } ]]</span>
                        <span class="name">[[=z.name]]</span>
                        <span class="type">[[=z.type]]</span>
                        <span class="version">version : [[=z.version]]</span>
                    </h2>
                </div>
                <div class="content">
                    <p class="desc">
                        [[=z.desc]]
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
<script>
    const methodLink = document.querySelector(".method__link");
    const propertyLink = document.querySelector(".property__link");
    let methodBlock = document.querySelector(".method");
    let propertyBlock = document.querySelector(".property");

    methodLink.addEventListener("click", function(e) {
        e.preventDefault();

        propertyBlock.classList.remove("active");
        methodBlock.classList.add("active");
    });

    propertyLink.addEventListener("click", function(e) {
        e.preventDefault();

        methodBlock.classList.remove("active");
        propertyBlock.classList.add("active");
    });
</script>
</html>