<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/fontello-embedded.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
    <script src="../public/js/home.js"></script>
    <title>Prototype</title>
</head>
<body>
    <section id="wall">
        <div class="top">
            <span class="icon-cubes"></span>
            <h1 class="namespace">Namespace</h1>
            <h2 class="className">ClassName</h2>
        </div>
        <div class="method">
            <span class="icon-cube-9"></span>
            <h2 >Method</h2>
        </div>

        <div class="title">
            <div class="left">
                <span class="icon-right-dir"></span>
                <span class="static" title="Stactic method">S</span>
                <span class="name" >nomMethod</span>
                <p class="args">
                    <span class="open-p">(</span>
                    <span class="arg-name" title="Default value">nameArgument</span>
                    <span class="type">type</span>
                    <span class="close-p">)</span>
                </p>
            </div>
            <div class="middle">
                <div class="skew" title="returned type"><span class="icon-return"></span></div>
                <span>TypeReturned</span>
            </div>
            <span class="version">version : 1.2.0</span>
        </div>
        <div class="content close">
            <div class="desc">
                <p>Description of the method here</p>
            </div>
            <div class="exemple">
                <pre class="prettyprint lang-js">const ex = new Example("./path/to/file.json", {<br>&#9;createOnNoEntry: true,<br>&#9;autoReload: true<br>});</pre>
            </div>
            <div class="throw">
                <p class="title">Throw :</p>
                <ul>
                    <li>Error</li>
                    <li>TypeError</li>
                </ul>
            </div>
            <div class="author">
                <p>Author : Mark</p>
            </div>
        </div>

        <div class="title">
            <div class="left">
                <span class="icon-right-dir"></span>
                <span class="name">constructor &lt;<em> T </em>&gt;</span>
                <p class="args">
                    <span class="open-p">(</span>
                    <span class="arg-name">configFilePath</span>
                    <span class="type">string</span>
                    , 
                    <span class="arg-name opt">options<span class="opt-chip" title="Optional">?</span></span>
                    <span class="type">Config.Options</span>
                    <span class="close-p">)</span>
                </p>
            </div>
            <span class="version">version : 1.3.0</span>
        </div>
        <div class="content close">
            <div class="desc">
                <p>Description of the method here</p>
            </div>
            <div class="exemple">
                <pre class="prettyprint lang-js">const ex = new Example("./path/to/file.json", {<br>&#9;createOnNoEntry: true,<br>&#9;autoReload: true<br>});</pre>
            </div>
            <div class="throw">
                <p>Throw :</p>
            </div>
            <div class="author">
                <p>Author :</p>
            </div>
        </div>

        <div class="title">
            <div class="left">
                <span class="icon-right-dir"></span>
                <span class="static" title="Stactic method">S</span>
                <span class="name">create</span>
                <p class="args">
                    <span class="open-p">(</span>
                    <span class="arg-name">payload</span>
                    <span class="type">Manifest.Payload</span>
                    ,
                    <span class="arg-name opt">filePath<span class="opt-chip" title="Optional">?</span></span>
                    <span class="type">string</span>
                    <span class="close-p">)</span>
                </p>
            </div>
            <div class="middle">
                <div class="skew" title="returned type">
                    <span class="icon-return"></span>
                </div>
                <span>Manifest</span>
            </div>
            <span class="version">version : 1.3.0</span>
        </div>
        <div class="content close">
            <div class="desc">
                <p>Description of the method here</p>
            </div>
            <div class="exemple">
                <pre class="prettyprint lang-js">const ex = new Example("./path/to/file.json", {<br>&#9;createOnNoEntry: true,<br>&#9;autoReload: true<br>});</pre>
            </div>
            <div class="throw">
                <p>Throw :</p>
            </div>
            <div class="author">
                <p>Author :</p>
            </div>
        </div>


        <div class="property">
            <span class="icon-cube-10"></span>
            <h2>Property</h2>
        </div>

        <div class="title">
            <div class="left">
                <span class="icon-right-dir"></span>
                <span class="name">PROPERTY_NAME</span>
            </div>
            <span class="version">version : 8.0.54.76</span>
        </div>
        <div class="content close">
            <p class="desc">The STRINGIFY_SPACE property allow you to redine the espace used internaly for JSON.stringify method. The default value is 4.</p>
        </div>

        <div class="title">
            <div class="left">
                <span class="icon-right-dir"></span>
                <span class="name">STRINGIFY_SPACE</span>
            </div>
            <span class="version">version : 10.0.4587.578</span>
        </div>
        <div class="content close">
            <p class="desc">The STRINGIFY_SPACE property allow you to redine the espace used internaly for JSON.stringify method. The default value is 4.</p>
        </div>
    </section>
</body>
</html>