<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/fontello-embedded.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
    <script src="../public/js/home.js"></script>
    <title>Prototype</title>
</head>
<body>
    <section id="wall">
        <h1 class="namespace">Namespace</h1>
        <h2 class="namespace">ClassName</h2>
    
        
        <h2 class="method">Method</h2>

        <div class="title">
            <div class="left">
                <span class="icon-right-dir"></span>
                <span class="name">nomMethod</span>
                <p class="args">
                    <span class="open-p">(</span>
                    <span class="arg-name">nameArgument</span>
                    <span class="type">type</span>
                    <span class="close-p">)</span>
                </p>
            </div>
            <div class="middle">
                <img src="../public/icons/right-arrow.svg" alt="return type" title="return type">
                <span>TypeReturned</span>
            </div>
            <span class="version">version : 1.2.0</span>
        </div>
        <div class="content close">
            <div class="desc"></div>
            <div class="exemple">
                <pre class="prettyprint lang-js">const cfg = new Config("./path/to/file.json", {<br>&#9;createOnNoEntry: true,<br>&#9;autoReload: true<br>});</pre>
            </div>
            <div class="throw"></div>
            <div class="author"></div>
        </div>

        <div class="title">
            <div class="left">
                <span class="icon-right-dir"></span>
                <span class="name">constructor &lt; T &gt;</span>
                <p class="args">
                    <span class="open-p">(</span>
                    <span class="arg-name">configFilePath</span>
                    : 
                    <span class="type">string</span>
                    , 
                    <span class="arg-name opt" title="Optional">options</span>
                    
                    :
                    <span class="type">Config.Options</span>
                    <span class="close-p">)</span>
                </p>
            </div>
            <span class="version">version : 1.3.0</span>
        </div>
        <div class="content close">
            <p>Create a new Config Object:</p>
            
            <div class="desc"></div>
            <div class="exemple">
                <pre class="prettyprint lang-js">const cfg = new Config("./path/to/file.json", {<br>&#9;createOnNoEntry: true,<br>&#9;autoReload: true<br>});</pre>
            </div>
            <div class="throw"></div>
            <div class="author"></div>
        </div>

        <div class="title">
            <div class="left">
                <span class="icon-right-dir"></span>
                <span class="static" title="Stactic method">S</span>
                <span class="name">create</span></span>
                <p class="args">
                    <span class="open-p">(</span>
                    <span class="arg-name">payload</span>
                    :
                    <span class="type">Manifest.Payload</span>
                    ,
                    <span class="arg-name opt" title="Optional">filePath</span>
                    :
                    <span class="type">string</span>
                    <span class="close-p">)</span>
                </p>
            </div>
            <div class="middle">
                <img src="../public/icons/right-arrow.svg" alt="return type" title="return type">
                <span>Manifest</span>
            </div>
            <span class="version">version : 1.3.0</span>
        </div>
        <div class="content close">
            <p>Create a new Config Object:</p>
            
            <div class="desc"></div>
            <div class="exemple">
                <pre class="prettyprint lang-js">const cfg = new Config("./path/to/file.json", {<br>&#9;createOnNoEntry: true,<br>&#9;autoReload: true<br>});</pre>
            </div>
            <div class="throw"></div>
            <div class="author"></div>
        </div>
        </div>

        <h2 class="property">Property</h2>
        <div class="title property">
            <div class="left">
                <span class="icon-right-dir"></span>
                <span class="name">STRINGIFY_SPACE</span>
            </div>
            <span class="version">version : 10.0.4587.578</span>
        </div>
        <div class="content close">
            <p class="description">The STRINGIFY_SPACE property allow you to redine the espace used internaly for JSON.stringify method. The default value is 4.</p>
        </div>
    </section>
</body>
</html>