<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link
            href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="../public/css/fontello-embedded.css" />
        <link rel="stylesheet" href="../public/css/styles.css" />
        <title>Prototype</title>
    </head>
    <body>
        <div id="left" class="column">
            <div class="top-left">
                <h1 class="project__namespace">
                    Namespace
                </h1>
                <h2 class="project__classname">ClassName</h2>
            </div>
            <div class="bottom">
                <a class="method__link"
                    ><span class="icon-cube-9"></span>Method</a
                >
                <a class="property__link"
                    ><span class="icon-cube-10"></span>Property</a
                >
            </div>
        </div>
        <div id="right" class="column">
            <div class="bottom">
                <div class="method active">
                    <div class="title">
                        <h2>
                            <div class="left">
                                <span class="icon-right-dir"></span>
                                <span class="static" title="Stactic method"
                                    >S</span
                                >
                                <span class="name">nomMethod</span>
                                <span class="open-p">(</span>
                                <span class="arg-name" title="Default value"
                                    >nameArgument</span
                                >
                                <span class="type">type</span>
                                <span class="close-p">)</span>
                            </div>
                            <div class="middle">
                                <span
                                    class="icon-return"
                                    title="returned type"
                                ></span>
                                <span>TypeReturned</span>
                            </div>
                            <div class="right">
                                <span class="version">version : 1.2.0</span>
                            </div>
                        </h2>
                    </div>
                    <div class="content slideup">
                        <h4 class="desc">Description of the method here</h4>
                        <ul class="arg">
                            <li class="item">
                                <span class="name">nameArgument</span>
                                <span class="string">"default val"</span>
                            </li>
                            <li class="item">
                                <span class="name">nbTime</span>
                                <span class="number">500</span>
                            </li>
                            <li class="item">
                                <span class="name">isRefresh</span>
                                <span class="boolean">true</span>
                            </li>
                            <li class="item">
                                <span class="name">plainObject</span>
                                <span class="obj">Object</span>
                            </li>
                        </ul>

                        <h4 class="arg-definition4>
                            Object arg description <em>[[argName.obj]]</em> :
                        </h3>
                        <table>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>default Value</th>
                                    <th>description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>createOnNoEntry</td>
                                    <td>boolean</td>
                                    <td>false</td>
                                    <td>
                                        Create the file with default payload
                                        value if he doesn't exist on the local
                                        disk
                                    </td>
                                </tr>
                                <tr>
                                    <td>writeOnSet</td>
                                    <td>boolean</td>
                                    <td>false</td>
                                    <td>
                                        Write the file on the disk after each
                                        time .set() is called
                                    </td>
                                </tr>
                                <tr>
                                    <td>autoReload</td>
                                    <td>boolean</td>
                                    <td>false</td>
                                    <td>
                                        Setup hot reload of the configuration
                                        file
                                    </td>
                                </tr>
                                <tr>
                                    <td>reloadDelay</td>
                                    <td>number</td>
                                    <td>500</td>
                                    <td>
                                        The delay to wait before hot reloading
                                        the configuration, it's a security to
                                        avoid event spamming
                                    </td>
                                </tr>
                                <tr>
                                    <td>defaultSchema</td>
                                    <td>plainObject</td>
                                    <td>null</td>
                                    <td>
                                        The default JSON Schema for the
                                        configuration
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <h4 class="example">Example :</h4>
                        <pre
                            class="prettyprint lang-js"
                        >const ex = new Example("./path/to/file.json", {<br>createOnNoEntry: true,<br>autoReload: true<br>});</pre>
                        <div class="throw">
                            <p>Throw :</p>
                            <ul>
                                <li>Error</li>
                                <li>TypeError</li>
                            </ul>
                        </div>
                        <p class="author">Author : Mark</p>
                    </div>
                    <hr />

                    <div class="title">
                        <h2>
                            <div class="left">
                                <span class="icon-right-dir"></span>
                                <span class="name"
                                    >constructor &lt;<em> T </em>&gt;</span
                                >
                                <span class="open-p">(</span>
                                <span class="arg-name">configFilePath</span>
                                <span class="type">string</span>
                                ,
                                <span class="arg-name opt"
                                    >options<span
                                        class="opt-chip"
                                        title="Optional"
                                        >?</span
                                    ></span
                                >
                                <span class="type">Config.Options</span>
                                <span class="close-p">)</span>
                            </div>

                            <div class="middle"></div>
                            <div class="right">
                                <span class="version">version : 1.3.0</span>
                            </div>
                        </h2>
                    </div>
                    <div class="content slideup">
                        <h4 class="desc">Description of the method here</h4>
                        <h4 class="example">Example :</h4>
                        <pre
                            class="prettyprint lang-js"
                        >const ex = new Example("./path/to/file.json", {<br>&#9;createOnNoEntry: true,<br>&#9;autoReload: true<br>});</pre>
                        <div class="throw">
                            <p>Throw :</p>
                            <ul>
                                <li>Error</li>
                                <li>TypeError</li>
                            </ul>
                        </div>
                        <p class="author">Author : Alex</p>
                    </div>
                    <hr />

                    <div class="title">
                        <h2>
                            <div class="left">
                                <span class="icon-right-dir"></span>
                                <span class="static" title="Stactic method"
                                    >S</span
                                >
                                <span class="name">create</span>
                                <span class="open-p">(</span>
                                <span class="arg-name">payload</span>
                                <span class="type">Manifest.Payload</span>
                                ,
                                <span class="arg-name opt"
                                    >filePath<span
                                        class="opt-chip"
                                        title="Optional"
                                        >?</span
                                    ></span
                                >
                                <span class="type">string</span>
                                <span class="close-p">)</span>
                            </div>
                            <div class="middle">
                                <span
                                    class="icon-return"
                                    title="returned type"
                                ></span>
                                <span>Manifest</span>
                            </div>
                            <div class="right">
                                <span class="version">version : 1.3.0</span>
                            </div>
                        </h2>
                    </div>
                    <div class="content slideup">
                        <h4 class="desc">Description of the method here</h4>
                        <h4 class="example">Example :</h4>
                        <pre
                            class="prettyprint lang-js"
                        >const ex = new Example("./path/to/file.json", {<br>&#9;createOnNoEntry: true,<br>&#9;autoReload: true<br>});</pre>
                        <div class="throw">
                            <p>Throw :</p>
                            <ul>
                                <li>Error</li>
                                <li>TypeError</li>
                            </ul>
                        </div>
                        <p class="author">Author : frax</p>
                    </div>
                    <hr />

                    <div class="title">
                        <h2>
                            <div class="left">
                                <span class="icon-right-dir"></span>

                                <span class="name">blabla</span>
                                <span class="open-p">(</span>
                                <span class="close-p">)</span>
                            </div>
                            <div class="middle">
                                <span
                                    class="icon-return"
                                    title="returned type"
                                ></span>
                                <span>Manifest</span>
                            </div>
                            <div class="right">
                                <span class="version">version : 0.1.0</span>
                            </div>
                        </h2>
                    </div>
                    <div class="content slideup">
                        <h4 class="desc">desc of the method</h4>
                        <ul class="arg">
                            <li class="item">
                                <span class="name">nameArg</span>
                                <span class="string">
                                    &#34;default value&#34;
                                </span>
                            </li>
                            <li class="item">
                                <span class="name">isSecure</span>
                                <span class="boolean">
                                    true
                                </span>
                            </li>
                            <li class="item">
                                <span class="name">nbTime</span>
                                <span class="number">
                                    50
                                </span>
                            </li>
                            <li class="item">
                                <span class="name">name3</span>
                                <span class="obj">
                                    Payload
                                </span>
                            </li>
                            <li class="item">
                                <span class="name">name5</span>
                                <span class="obj">
                                    25,50
                                </span>
                            </li>
                            <li class="item">
                                <span class="name">name5</span>
                                <span class="obj">
                                    {"name":"test"}
                                </span>
                            </li>
                        </ul>
                        <h4 class="arg-definition4>
                            Object arg description <em>object1</em> :
                        </h3>
                        <table>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>default Value</th>
                                    <th>description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Prop1</td>
                                    <td>String</td>
                                    <td>default</td>
                                    <td>description</td>
                                </tr>
                                <tr>
                                    <td>Prop2</td>
                                    <td>Boolean</td>
                                    <td>true</td>
                                    <td>description</td>
                                </tr>
                                <tr>
                                    <td>Prop3</td>
                                    <td>Number</td>
                                    <td>52</td>
                                    <td>description</td>
                                </tr>
                            </tbody>
                        </table>

                        <h4 class="arg-definition4>
                            Object arg description <em>object2</em> :
                        </h3>
                        <table>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>default Value</th>
                                    <th>description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Prop2</td>
                                    <td>String</td>
                                    <td>default</td>
                                    <td>description</td>
                                </tr>
                            </tbody>
                        </table>
                        <h4 class="example">Example :</h4>
                        <pre class="prettyprint lang-js">const foo = true</pre>
                        <div class="throw">
                            <p>Throw :</p>
                            <ul>
                                <li>Error</li>
                                <li>TypeError</li>
                                <li>Other</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="property">
                    <div class="title">
                        <h2>
                            <div class="left">
                                <span class="icon-right-dir"></span>
                                <span class="required">!</span>
                                <span class="name">PROPERTY_NAME</span>
                                <span class="type">String</span>
                            </div>
                            <div class="middle"></div>
                            <div class="right">
                                <span class="version">version : 8.0.54.76</span>
                            </div>
                        </h2>
                    </div>
                    <div class="content slideup">
                        <p class="desc">
                            The STRINGIFY_SPACE property allow you to redine the
                            espace used internaly for JSON.stringify method. The
                            default value is 4.
                        </p>
                    </div>
                    <hr />

                    <div class="title">
                        <h2>
                            <div class="left">
                                <span class="icon-right-dir"></span>
                                <span class="name">STRINGIFY_SPACE</span>
                            </div>
                            <div class="middle"></div>
                            <div class="right">
                                <span class="version"
                                    >version : 10.0.4587.578</span
                                >
                            </div>
                        </h2>
                    </div>
                    <div class="content slideup">
                        <p class="desc">
                            The STRINGIFY_SPACE property allow you to redine the
                            espace used internaly for JSON.stringify method. The
                            default value is 4.
                        </p>
                    </div>
                    <hr />

                    <div class="title">
                        <h2>
                            <div class="left">
                                <span class="icon-right-dir"></span>
                                <span class="required">!</span>
                                <span class="name">propertie1</span>
                                <span class="type">String</span>
                            </div>
                            <div class="middle"></div>
                            <div class="right">
                                <span class="version">version : 0.2.0</span>
                            </div>
                        </h2>
                    </div>
                    <div class="content slideup">
                        <p class="desc">Description of the property</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
    <script>
        const methodLink = document.querySelector(".method__link");
        const propertyLink = document.querySelector(".property__link");
        let methodBlock = document.querySelector(".method");
        let propertyBlock = document.querySelector(".property");
        let titleBlock = document.querySelectorAll(".title");
        // let contentBlock = document.querySelector(".content");

        methodLink.addEventListener("click", function(e) {
            e.preventDefault();

            propertyBlock.classList.remove("active");
            methodBlock.classList.add("active");
        });

        propertyLink.addEventListener("click", function(e) {
            e.preventDefault();

            methodBlock.classList.remove("active");
            propertyBlock.classList.add("active");
        });

        titleBlock.forEach(function(element) {
            const contentBlock = element.nextElementSibling;

            element.addEventListener('click', function(e) {
                e.preventDefault();

                if (contentBlock.classList.contains('slideup')) {
                    contentBlock.classList.remove('slideup');
                    contentBlock.classList.add('slidedown');
                } else {
                    contentBlock.classList.remove('slidedown');
                    contentBlock.classList.add('slideup');
                }
            })
        })
    </script>
</html>
