<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="../public/css/fontello-embedded.css">
<link rel="stylesheet" href="../public/css/reset.css">
<link rel="stylesheet" href="../public/new_css/colors.css">
<link rel="stylesheet" href="../public/new_css/main.css">
<link rel="stylesheet" href="../public/new_css/navigation.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i">
<script src="../public/js/home.js" defer></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
<title>SlimIO Doc</title>

<nav>
    <div class="search-bar-container">
        <i class="icon-search"></i>
        <input type="search" placeholder="Search" value>
    </div>
    <div class="members-container">
        <div class="title">
            <i class="icon-folder"></i>
            <p>Namespaces</p>
        </div>
        <ul>
            <expanding-list title="Utils">
                <li>
                    <span class="interface-color">I</span>
                    <p>Argv</p>
                </li>
            </expanding-list>
            <expanding-list title="Models"></expanding-list>
        </ul>

        <div class="title">
            <i class="icon-code"></i>
            <p>Class</p>
        </div>
        <ul>
            <li>
                <span class="class-color">C</span>
                <p>Config</p>
            </li>
            <li>
                <span class="class-color">C</span>
                <p>Addon</p>
            </li>
        </ul>

        <div class="title">
            <i class="icon-cube"></i>
            <p>Orphans</p>
        </div>
        <ul>
            <li>
                <span class="interface-color">I</span>
                <p>Argv</p>
            </li>
        </ul>
    </div>
    <div class="nav-footer">
        <div class="contrast-btn">
            <i class="icon-adjust"></i>
        </div>
    </div>
</nav>
<main>
    <div class="buttons">
        <button class="close-color" id="close-all-descriptor">
            <i class="icon-right-open"></i>
            <p>Close All</p>
        </button>
        <button class="open-color" id="open-all-descriptor">
            <i class="icon-down-open"></i>
            <p>Open All</p>
        </button>
    </div>
    <h1><i class="icon-method"></i><p>Methods</p></h1>
    <jsdoc-descriptor></jsdoc-descriptor>
    <jsdoc-descriptor></jsdoc-descriptor>
    <jsdoc-descriptor></jsdoc-descriptor>
    <h1><i class="icon-iconmonstr-cube-18"></i><p>Properties</p></h1>
</main>

<template id="jsdoc-descriptor">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/fontello-embedded.css">
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/new_css/colors.css">
    <link rel="stylesheet" href="../public/new_css/jsdoc-descriptor.css">
    <link rel="stylesheet" href="../public/new_css/code-highlight.css">

    <div class="jsdoc">
        <div class="jsdoc-header">
            <div class="actions-area">
                <span><i class="open-btn icon-right-open"></i></span>
                <span><i class="icon-link"></i></span>
            </div>
            <div class="description-area">
                <div class="tags">
                    <span class="static-color">static</span>
                    <span class="function-color">function</span>
                </div>
                <div class="version">v1.0.0</div>
                <p>constructor< <b class="link">T</b> >(configFilePath: <b class="type">string</b>, options<b class="optional">?</b>: <b class="link">Config.Options</b>): <b class="type">this</b></p>
            </div>
        </div>
        <div class="jsdoc-container close">
            <div class="jsdoc-inner-container">
                <p>Description de la méthode</p>
                <div class="default-values">
                    <div class="arg"><p>name arg</p><p>"default val"</p></div>
                    <div class="arg"><p>name arg</p><p>"default val"</p></div>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>default Value</th>
                            <th>description</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <td>Prop1</td>
                                <td>String</td>
                                <td>default</td>
                                <td>description</td>
                            </tr>
                            <tr>
                                <td>Prop2</td>
                                <td>Boolean</td>
                                <td>true</td>
                                <td>description</td>
                            </tr>
                            <tr>
                                <td>Prop3</td>
                                <td>Number</td>
                                <td>52</td>
                                <td>description</td>
                            </tr>
                    </tbody>
                </table>
                <pre>
                    <code class="javascript">const ex = new Example("./path/to/file.json", {<br>&nbsp;&nbsp;&nbsp;&nbsp;createOnNoEntry: true,<br>&nbsp;&nbsp;&nbsp;&nbsp;autoReload: true<br>});</code>
                </pre>
            </div>
        </div>
    </div>
</template>

<template id="expanding-list">
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/new_css/colors.css">
    <link rel="stylesheet" href="../public/new_css/expanding-list.css">

    <div class="sub-title">
        <span class="list-btn">-</span>
        <slot name="title"></slot>
    </div>
    <ul class="list-items"><slot></slot></ul>
</template>
