<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../public/css/fontello-embedded.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
    <script src="../public/js/home.js"></script>
    <title>Prototype</title>
</head>
<body>
    <header>
        <div class="center">
            <span class="icon-cubes"></span>
            <h1 class="namespace">Namespace</h1>
            <h2 class="className">ClassName</h2>
        </div>
    </header>
    <main>
        
        <h2 class="method"><span class="icon-cube-9"></span>Method</h2>

        <div class="title">
            <div class="left">
                <span class="icon-right-dir"></span>
                <span class="static" title="Stactic method">S</span>
                <span class="name" >nomMethod</span>
                <p class="args">
                    <span class="open-p">(</span>
                    <span class="arg-name" title="Default value">nameArgument</span>
                    <span class="type">type</span>
                    <span class="close-p">)</span>
                </p>
            </div>
            <div class="middle">
                <span class="icon-return" title="returned type"></span>
                <span>TypeReturned</span>
            </div>
            <span class="version">version : 1.2.0</span>
        </div>
        <div class="content open">
            <p class="desc">Description of the method here</p>
            <p class="p-default-val">Arguments with default value</p>
            <table class="t-default-val">
                <tr>
                    <th>name</th>
                    <th>default Value</th>
                    <th>description</th>
                </tr>
                <tr>
                    <td>nameArgument</td>
                    <td class="string">"Valeur par default"</td>
                    <td>description de l'argument</td>
                </tr>
                <tr>
                    <td>nameArgument</td>
                    <td class="number">500</td>
                    <td>description de l'argument</td>
                </tr>
                <tr>
                    <td>nameArgument</td>
                    <td class="boolean">true</td>
                    <td>description de l'argument</td>
                </tr>
            </table>
            <p class="arg-definition">Available <em>argName</em> :</p>
            <table class="arg-desc">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>default Value</th>
                        <th>description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td>createOnNoEntry</td>
                    <td>boolean</td>
                    <td>false</td>
                    <td>Create the file with default payload value if he doesn't exist on the local disk</td>
                    </tr>
                    <tr>
                    <td>writeOnSet</td>
                    <td>boolean</td>
                    <td>false</td>
                    <td>Write the file on the disk after each time .set() is called</td>
                    </tr>
                    <tr>
                    <td>autoReload</td>
                    <td>boolean</td>
                    <td>false</td>
                    <td>Setup hot reload of the configuration file</td>
                    </tr>
                    <tr>
                    <td>reloadDelay</td>
                    <td>number</td>
                    <td>500</td>
                    <td>The delay to wait before hot reloading the configuration, it's a security to avoid event spamming</td>
                    </tr>
                    <tr>
                    <td>defaultSchema</td>
                    <td>plainObject</td>
                    <td>null</td>
                    <td>The default JSON Schema for the configuration</td>
                    </tr>
                </tbody>
            </table>
            <pre class="prettyprint lang-js">const ex = new Example("./path/to/file.json", {<br>&#9;createOnNoEntry: true,<br>&#9;autoReload: true<br>});</pre>
            <div class="throw">
                <p>Throw :</p>
                <ul>
                    <li>Error</li>
                    <li>TypeError</li>
                </ul>
            </div>
            <p class="author">Author : Mark</p>
        </div>

        <div class="title">
            <div class="left">
                <span class="icon-right-dir"></span>
                <span class="name">constructor &lt;<em> T </em>&gt;</span>
                <p class="args">
                    <span class="open-p">(</span>
                    <span class="arg-name">configFilePath</span>
                    <span class="type">string</span>
                    , 
                    <span class="arg-name opt">options<span class="opt-chip" title="Optional">?</span></span>
                    <span class="type">Config.Options</span>
                    <span class="close-p">)</span>
                </p>
            </div>
            <span class="version">version : 1.3.0</span>
        </div>
        <div class="content close">
            <p class="desc">Description of the method here</p>
            <pre class="prettyprint lang-js">const ex = new Example("./path/to/file.json", {<br>&#9;createOnNoEntry: true,<br>&#9;autoReload: true<br>});</pre>
            <div class="throw">
                <p>Throw :</p>
                <ul>
                    <li>Error</li>
                    <li>TypeError</li>
                </ul>
            </div>
            <p class="author">Author : Alex</p>
        </div>

        <div class="title">
            <div class="left">
                <span class="icon-right-dir"></span>
                <span class="static" title="Stactic method">S</span>
                <span class="name">create</span>
                <p class="args">
                    <span class="open-p">(</span>
                    <span class="arg-name">payload</span>
                    <span class="type">Manifest.Payload</span>
                    ,
                    <span class="arg-name opt">filePath<span class="opt-chip" title="Optional">?</span></span>
                    <span class="type">string</span>
                    <span class="close-p">)</span>
                </p>
            </div>
            <div class="middle">
                <span class="icon-return" title="returned type"></span>
                <span>Manifest</span>
            </div>
            <span class="version">version : 1.3.0</span>
        </div>
        <div class="content close">
            <p class="desc">Description of the method here</p>
            <pre class="prettyprint lang-js">const ex = new Example("./path/to/file.json", {<br>&#9;createOnNoEntry: true,<br>&#9;autoReload: true<br>});</pre>
            <div class="throw">
                <p>Throw :</p>
                <ul>
                    <li>Error</li>
                    <li>TypeError</li>
                </ul>
            </div>
            <p class="author">Author : frax</p>
        </div>


        <h2 class="property"><span class="icon-cube-10"></span>Property</h2>

        <div class="title">
            <div class="left">
                <span class="icon-right-dir"></span>
                <span class="name">PROPERTY_NAME</span>
            </div>
            <span class="version">version : 8.0.54.76</span>
        </div>
        <div class="content close">
            <p class="desc">The STRINGIFY_SPACE property allow you to redine the espace used internaly for JSON.stringify method. The default value is 4.</p>
        </div>

        <div class="title">
            <div class="left">
                <span class="icon-right-dir"></span>
                <span class="name">STRINGIFY_SPACE</span>
            </div>
            <span class="version">version : 10.0.4587.578</span>
        </div>
        <div class="content close">
            <p class="desc">The STRINGIFY_SPACE property allow you to redine the espace used internaly for JSON.stringify method. The default value is 4.</p>
        </div>
    </main>
</body>
</html>